
.cg-slider {
  .user-select(none);
}

.user-select(@value) {
  -webkit-user-select: @value;
  -moz-user-select: @value;
  -ms-user-select: @value;
  user-select: @value;
}

.box-sizing (@value) {
  box-sizing: @value;
  -ms-box-sizing: @value;
  -moz-box-sizing: @value;
  -webkit-box-sizing: @value;
}